<!-- Inserts the content from base.html-->

{% extends "base.html" %}

<!-- defines what will display in the block content that was declared in base.html-->

{% block content %}
        <h1>TODOs</h1>
        <form method="post">
            <label for="first-name">New Task:
                <input type="text" name="task" />
            </label>        
            <input type="submit" value='Add Task'/>
        </form>

        <hr/>

        <!-- conditional using jinja syntax, checking for lenght of tasks list -->
        {% if tasks|length == 0 %}
        <p>There's no tasks yet</p>

        {% else %}
        <ul>
            {% for task in tasks %}
            <li>{{task}}</li>
            {% endfor %}
        </ul>

        {% endif %}

{% endblock %}

<!-- end of block content -->